/RFileType/nbproject/private/
/build/
/RAnalyzer/build/
/RFileType/build/
/RAnalyzer/nbproject/private/
/RProjectType/build/
/RProjectType/nbproject/private/
/ROptions/build/
/ROptions/nbproject/private/